@import "_mixin";




.s_big{
    font-size: 5rem;
}
.s_title{
    font-size: 3.75rem;
}


.s_title2{
    font-size:3.125rem;
}

.s_title3{
    font-size: 2.5rem;
}

.s_txt{
    font-size: 1.875rem;
}
.s_nomal{
    font-size: 1.5625rem;
}
.s_mon{
    font-size: 1.25rem;
}
.s_none{
    font-size: 1rem;
}


#sub_contentArea{
    padding-top: 100px;
}




#galley_visual{
    background: url("../img/galley_visual.jpg")no-repeat center/cover;
    height: 560px;
    width: 100%;
    .inner{
        @include flex_center;
        height: 100%;
    }
    .title{
       
        color: #fff;
        
    }
}

#sub_visual{
    background: url("../img/sub_visual.jpg")no-repeat center/cover;
    height: 560px;
    width: 100%;
    .inner{
        @include flex_center;
        height: 100%;
    }
    .title{
        text-align: center;
        color: #fff;
        
    }
}


#sub_visual2{
    background: url("../img/sub_visual2.jpg")no-repeat center/cover;
    height: 560px;
    width: 100%;
    .inner{
        @include flex_center;
        height: 100%;
    }
    .title{
        text-align: center;
        color: #fff;
        
    }
}


#notice_visual{
    background: url("../img/notice_visual.png")no-repeat center/cover;
    height: 560px;
    width: 100%;
    .inner{
        @include flex_center;
        height: 100%;
    }
    .title{
       
        color: #fff;
        
    }
}

#tab_area{
    ul{
        @include flex_center;
        margin: 50px 0 0;
        li{
            margin: 0 10% 0 0;
            &.active{
                a{
                    color: #B11B1B;
                    border-bottom: 2px solid #B11B1B;
                }
            }
            &:last-child{
                margin: 0;
            }
        }
    }
}


#greetings{
    margin: 100px 0;
    .inner{
        padding: 0 100px;
    }
    .title{
        text-align: center;
        margin: 0 0 100px 0;
    }
    .bg_box{
        p{
            text-align: right;
            margin: 0 100px;
        }
    }
    .cont{
        display: flex;
        position: relative;
        &:after{
            content: "";
            display: block;
            width: 100%;
            height: 88%;
            background: #F8F8F8;
            position: absolute;
            top: 300px;
            left: 0;
            z-index: -2;
        }

        .txt{
            width: 70%;
            margin: 0 0 0 5%;
            h3{
                position: relative;
                padding: 50px 0  150px;
                &:after{
                    content:"";
                    display: block;
                    background: #000000;
                    width: 2px;
                    height: 100px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        .img_area{
            margin: 0 0 0 30px;
            width: 30%;
            position: relative;
            padding: 2% 1.5% 10% 2%;
            &:after{
                content:"";
                display: block;
                width: 100%;
                height: 0;
                padding-bottom: 100%;
                background: #B04646;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                margin: 26% 0 0;
            }
            p{
                color: #fff;
                margin: 6% 0;
                text-align: center;
            }
        }
    }
    ul{
        margin: 50px 50px 50px 0;
        li{
            margin: 0 0 50px 0;
        }
    }
}

#last{
    height: 150px;
}

#board_area{
    margin: 100px;
    .s_title2{
        text-align: center;
    }
    .board_title{
        margin:0 0 100px 0;
    }
    .board_box{

        h5{
            position: relative;
            &:after{
                content: "";
                display: inline-block;
                width: 100px;
                height: 5px;
                background: #707070;
                position: absolute;
                top: -30px;
                left: 0;
            }
        }
    }
}





#store{
    margin: 100px 0;
    .title{
        text-align: center;
        margin: 0 0 100px 0;
    }
    .line{
        width: 2px;
        height: 55px;
        background: #B11B1B;
        margin: 30px 0;
    }
    .top{
        span{
            color: #B11B1B;
            margin: 0 5px 0 0;
            display: inline-block;
        }
      
    }
    p.s_mon{

    }
    .cont{
        display: flex;
        .more{
            
            text-align: center;
           
            display: flex;

            align-items: center;
            justify-content: end;
            a{
                color: #fff;
                padding: 10px;
                background: #B11B1B;
                width: 200px;
                border-radius: 50px;
            }
        }
        ul{
            &.deps01{
                .box{
                    .txt{
                        margin: 5% 5% 5% 12%;
                        justify-content: start;
                    }
                }
                
            }
             
            &.deps03{

                .box{
                    .txt{
                        margin: 11% 5% 0 10%;
                        justify-content: start;
                    }
                }
                
            }
            
            &:nth-of-type(2n){
                .txt{
                    margin: 5%;
                    .top{
                        li{
                            line-height: 1.1;
                        }
                    }
                }
            }
             li.box{
                height: 100%;
                .txt{
                    height: 44.5%;
                    
                    margin: 5%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    .top{
                        margin: 0 0 50px 0;
                    }
                    p{
                        span{
                            margin: 0 0 30px 0;
                            display: block;
                            &:last-child{
                                margin: 0;
                                
                            }
                        }
                        
                    }
                }
            }
        }
        figure{
            height: 50%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
    }
}




#location{
    margin: 100px 0;
    .cont{
        margin: 0 100px 0;
    }
    .title{
        text-align: center;
        margin: 0 0 100px 0;
    }
    .lo_area{
        display: flex;
        align-items: end;
        line-height: 0.7;
        margin: 0 0 100px 0;
        h4{
            color: #B11B1B;
        }
        span{
            color: #575757;
            margin: 0 20px 0 0;
            &:first-child{
                margin: 0 20px 0;
            }
        }
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        li{
            width: 29.33%;
            position: relative;
            margin: 0 0 0 5%;
            &:first-child{
                margin: 0;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
            &:after{
                content:'';
                display: block;
                width: 1px;
                height: 100%;
                background: #ddd;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    .i_box{
        position: relative;
        
        figure{
            display: flex;
            align-items: end;
            margin: 0 0 30px 0!important;
        }
        i{
            width: 7px;
            height: 7px;
            background: #B11B1B;
            border-radius: 100%;
            display: inline-block;
            margin: 0 0 0 10px;
        }
        a{
            display: inline-block;
        }
    }
    .map_area{
        margin: 100px 0 0;
        display: flex;
        height: 570px;
        justify-content: space-between;
        align-items: center;
        .map_txt{
            width: 30%;
            background: #9E1A1A;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 3% 3%;
            .address {
                color: #fff;
                line-height: 2;
                font-weight: 600;
            }
            .btn{
                a{
                    color: #fff;
                    display: inline-block;
                    padding: 10px 60px;
                    border: 1px solid #fff;
                }
            }
        }
        .map_box{
            width: 70%;
            .root_daum_roughmap{
                width: 100%!important;
            }
        }
    }
}

#history{
    background: url("../img/history_bg01.png") no-repeat left -115px/500px auto, url("../img/history_bg02.png") no-repeat 107% 140%/75% auto;
    width: 100%;
    height: 100%;
    padding: 100px 0 0;
    .title{
        margin: 0 0 100px 0;
        text-align: center;
    }
    .cont{
        display: flex;
        justify-content: center;
        margin: 0 100px;
        padding: 0 0 100px 0;
        .left{
            display: flex;
            width: 60%;
        }
       .dep01{
            width: 80%;
            margin: 0 10% 0 0;
            position: relative;
            // &:after{
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     background: #9E1A1A;
            //     height: 100%;
            //     width: 1px;
            //     right: -11%;
            // }
            .txt{
               
                .box{
                    margin: 100px 0 100px 15%;
                }
                strong{
                    text-align: left;
                    color: #9E1A1A;
                    margin: 0 0 20px 0;
                    display: block;
                }
                ol{
                    text-align: right;
                    li{
                        justify-content: end;
                        display: flex;
                        align-items: start;
                        b{
                            color: #9E1A1A;
                            margin: 0 0 0 2%;
                        }
                        span{
                            line-height: 1.8;
                        }
                    }
                }
            }
               
       }
       .right{
            width: 50%;
       }
       .dep02{
        width: 100%;
        position: relative;
            .box{
                margin: 100px 15% 100px 0;
            }
            strong{
                text-align: left;
                color: #9E1A1A;
                margin: 0 0 20px 0;
                display: block;
            }
            ol{
                text-align: left;
                li{
                    justify-content: start;
                    align-items: start;
                    display: flex;
                    b{
                        color: #9E1A1A;
                        margin: 0 2% 0 0;
                    }
                    span{
                        line-height: 1.8;
                    }
                }
            }
            
        }
       .line{
            
            height: 100%;
            position: relative;
            .paging01{
                width: 15px;
                height: 15px;
                background: #B11B1B;
                position: absolute;
                top: 0;
                left: 49%;
                border-radius: 100%;
                transform: translate(-50%,-50%);
                z-index: 1;
                &:after{
                    content: "";
                    display: block;
                    width: 25px;
                    height: 25px;
                    border: 1px solid #B11B1B;
                    border-radius: 100%;
                    position: absolute;
                    top: -6px;
                    left: -6px;
                }
            }
            .paging02{
                width: 11px;
                height: 11px;
                background: #B11B1B;
                position: absolute;
                top: 35%;
                left: 50%;
                border-radius: 100%;
                transform: translate(-50%);
            }
            .paging03{
                width: 11px;
                height: 11px;
                background: #B11B1B;
                position: absolute;
                top: 64%;
                left: 50%;
                border-radius: 100%;
                transform: translate(-50%);
            }
            .paging04{
                width: 15px;
                height: 15px;
                background: #B11B1B;
                position: absolute;
                bottom: 0;
                left: 49%;
                border-radius: 100%;
                transform: translate(-50%);
                z-index: 1;
                &:after{
                    content: "";
                    display: block;
                    width: 25px;
                    height: 25px;
                    border: 1px solid #B11B1B;
                    border-radius: 100%;
                    position: absolute;
                    top: -6px;
                    left: -6px;
                }
            }
            &:after{
                content:"";
                position: absolute;
                top: 0;
                left: 0;
                background: #9E1A1A;
                height: 100%;
                width: 2px;
            }
       }
    }
}






@include breakpoint_desktop_1920{
    .s_title2{
        font-size: 2.5rem;
    }
    #greetings {
        .inner{
            padding: 0;
        }
        .cont{
            &:after{
                top: 265px;
            }
            .img_area{
                &:after{
                    margin: 30% 0 0;
                }
            }
        }
    }
  
    #store {
        .cont {
            ul {
                li{
                    &.box {
                        .txt{
                            height: 46%;
                        }
                    }
                }
            }
        }
    }
    #location {
        .cont{
            margin: 0;
        }
    }
}



@include breakpoint_desktop_1600{
    .s_big{
        font-size: 4rem;
    }
    #history{
        .cont{
            margin: 0;
        }
    }
    #store {
        .cont {
            .more{
                a{
                    padding: 7px;
                    font-size: 1rem;
                    width: 150px;
                }
            }
            ul {
                &.deps01{
                    .box{
                        .txt{
                            margin: 5%;
                            p{
                                font-size: 1rem;
                            }
                        }
                    }
                }
              
                li{
                    &.box {
                        .txt {
                            p{
                                span{
                                    margin: 0 0 15px 0;
                                    font-size: 1rem;
                                }
                            }
                            .top{
                                margin: 0 0 20px 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
}



@include breakpoint_desktop_1440{
    .s_title3{
        font-size: 1.8rem;
    }
}


@include breakpoint_desktop_1280{
    #board_area{
        margin: 100px 0;
    }
    #galley_visual, #notice_visual, #sub_visual, #sub_visual2{
        height: 450px;
    }
    #greetings {
        .cont {
            &::after{
                height: 92%;
            }
            .img_area{
                width: 45%;
            }
            .txt{
                h3{
                    padding: 30px 0 120px;
                }
            }
        }
    }
    #history{
        background: url("../img/history_bg01.png") no-repeat left -150px/500px auto, url("../img/history_bg02.png") no-repeat 107% 120%/75% auto;
    }
    #store {
        .cont{
            flex-direction: column;
            width: 70%;
            margin: 0 auto;
            .more{
                margin: 50px 0 0;
            }
            ul{
                li{
                    &.box{
                        .txt {
                            .top{
                                li{
                                    &.s_mon.bold{
                                        margin: 15px 0 0;
                                    }
                                }
                            }
                        }
                    }
                }
            
                &.deps01{
                    .box{
                        .txt{
                            margin: 30px 5% 100px;
                        }
                    }
                }
                
                &.deps02{
                    .box{
                        display: flex;
                        flex-direction: column-reverse;
                        .txt{
                            margin: 50px 5%;
                        }
                    }
                }
                &.deps03{
                    .box{
                      
                        .txt{
                            margin: 50px 5%;
                        }
                    }
                }
            }
        }

        
    }
   
}
















@include breakpoint_tablet_1024{
    .s_title{
        font-size: 2.75rem;
    }
    .s_title2{
        font-size: 2.125rem;
    }
    .s_title3{
        font-size: 1.8rem;
    }
    #sub_contentArea{
        padding-top: 75px;
    }
    #galley_visual, #notice_visual, #sub_visual, #sub_visual2{
        height: 350px;
    }
    #greetings {
        .cont{
            flex-direction: column;
            .img_area{
                width: 50%;
                padding: 0% 3.5% 10% 4%;
                margin: 0 0 0 6%;
            }
            .txt{
                width:auto;
            }
        }
        
    }
    #store {
        .cont{
            width: 80%;
        }
    }
    #board_area {
        .board_box {
            h5{
                &:after {
        
                    width: 60px;
                    height: 3px;
                    top: -20px;
                  
                }
            }
        }
    }
    #location {
        ul{
            flex-wrap: wrap;
            li{
                width: 45%;
                &:nth-child(2){
                    &:after{
                        display: none;
                    }
                }
                &:last-child{
                    margin: 50px 0 0;
                }
            }
        }
        .lo_area{
            line-height: 1.5;
            margin: 0 0 100px 0;
            align-items: start;
            flex-direction: column;
            span{
                &:first-child{
                    margin: 0 20px 0 0;
                }
            }
        }
        .map_area{
            flex-direction: column;
            height: auto;
            .map_txt{
                padding: 5%;
                width: 100%;
                .address{
                    margin: 30px 0;
                    line-height: 1.5;
                }
            }
            .map_box{
                width: 100%;
            }
        }
    }
    #history {
        background: url("../img/history_bg01.png") no-repeat left -220px/500px auto, url("../img/history_bg02.png") no-repeat 107% 105%/80% auto;
        .cont {
            flex-direction: column-reverse;
            .dep01{
                width: 100%;
                margin: 0;
                .txt{
                    .box{
                        margin: 100px 0 100px 0;
                    }
                    strong{
                        text-align: center;
                    }
                }
            }
            .dep02 {
                li{
                    &:first-child{
                        .box{
                            margin: 0 0 100px 0;
                        }
                    }
                }
                .box{
                    margin: 100px 0 100px;
                }
            }
            .left{
                flex-direction: column;
                width: 100%;
                .line{
                    display: none;
                }
              
                
            }
            .right{
                width: 100%;
            }
        }
    }
}









@include breakpoint_tablet_768{
    .s_big{
        font-size: 3rem;
    }
    
    #board_area{
        margin: 50px 0;
        .s_title2{
            margin: 0 0 50px 0;
        }
        .board_title{
            margin: 0 0 50px 0;
        }
    }
    #greetings {
        margin: 50px 0;
        .title{
            margin: 0 0 50px 0;
        }
    }
    #store {
        margin: 50px 0;
        .title{
            margin: 0 0 50px 0;
        }
       
        .cont {
            ul{
                &.deps01 {
                    .box {
                        .txt{
                            margin: 0 5% 50px;
                            .top{
                                margin: 0 0 30px 0;
                            }
                        }
                    }
                }
                &.deps03 {
                    .box{
                        .txt{
                            margin: 30px 5% 50px;
                        }
                    }
                }
                li{
                    &.box {
                        .txt{
                            .top{
                                margin: 0 0 30px 0;
                            }
                        }
                    }
                }
            }
        }
    }
    #history {
        .cont {
            .dep01 {
                .txt {
                    .box{
                        margin: 50px 0;
                    }
                }
            }
            .dep02 {
                .box{
                    margin: 50px 0;
                }
                li{
                    &:first-child {
                        .box{
                            margin: 0 0 50px 0;
                        }
                    }
                }
            }
        }
        .title{
            margin: 0 0 50px 0;
        }
    }
    
    #location{
        margin: 50px 0;
        .title{
            margin: 0 0 50px 0;
        }
        .map_box{
            .root_daum_roughmap .wrap_map{
                height: 350px!important;
            }
        }
        .map_txt{
            i{
                width: 50px;
            }
        }
        .lo_area{
            margin: 0 0 50px 0;
        }
        .map_area{
            margin: 50px 0 0;
        }
    }
}





@include breakpoint_mobile_640{
    #greetings{
        .cont {
            .img_area{
                width: 80%;
            }
        }
    }
}





@include breakpoint_mobile_540{
    .s_title{
        font-size: 2rem;
    }
    .s_title2{
        font-size: 1.9rem;
    }
    .s_title3{
        font-size: 1.5rem;
    }
    .s_nomal{
        font-size: 1.2rem;
    }
    #sub_contentArea{
        padding-top: 55px;
    }
    #galley_visual, #notice_visual, #sub_visual, #sub_visual2{
        height: 250px;
    }
    #store {
        .cont{
            width: 90%;
        }
    }
    #greetings {
        ul{
            margin: 30px 50px 0px 0;
        }
        .cont{
            .txt {
                h3{
                    padding: 30px 0 100px;
                    &:after{
                        height: 80px;
                    }
                }
            }
        }
       .bg_box {
            p{
                margin:  0 50px 0 0;
            }
       }
    }
    #location {
        .lo_area {
            align-items: center;
            span{
                display: block;
                margin: 0;
                &:first-child{
                    margin: 0;
                }
            }
        }
 
       .i_box {
            text-align: center;
            figure{
                align-items: center;
                justify-content: center;
            }
       }
    }
    #board_area {
        .board_box {
            h5{
                &:after {
        
                    width: 45px;
                 
                  
                }
            }
        }
    }
    #location {
        li{
            
            &:first-child{
                .i_box{
                    margin: 0 0 30px 0;
                   
                }
            }
            &:last-child{
                margin: 0!important;
            }
        }
        .i_box{
            margin: 30px 0;
           
        }
        ul{
            flex-direction: column;
            li{
                width: 100%;
                margin: 0;
                &:after{
                    position: absolute;
                    top: auto;
                    width: 30%;
                    height: 1px;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                  
                }
                &:nth-child(2){
                    &:after{
                        display: block;
                    }
                }
            }
        }
        .map_area {
            .map_txt {
                padding: 10%;
                .btn {
                    a{
                        padding: 5px 60px;
                    }
                }
            }
        }
    }
}



@include breakpoint_mobile_414{
    #greetings {
        .cont {
            .img_area{
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}
